<!-- linking stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/chatengine.css">

<!-- showing chat engine only if the user is signed in -->
<% if(locals.user) { %> 
<div id="engine-container">

    
        <ul id="message-list">
            <li class="user-text">
                <span>
                    Your Text
                </span>               
            </li>

            <li class="reply-text">
                <span>
                    Your Friend's Text
                </span>                
            </li>
        </ul>
    

    <!-- form for submitting text entered -->
    <div name="chat-form" id="chat-form">
        <input id="chat-field" placeholder="Enter your text here" required>
        <button id="chat-btn">Send</button>
    </div>

</div>

<% } %>