<!-- linking stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/chatengine.css">

<!-- showing chat engine only if the user is signed in -->
<% if(locals.user) { %> 
<div id="engine-container">

    <div id="display">
        <ul>
            <li class="user-text">
                Your Text
            </li>

            <li class="reply-text">
                Your Friend's Text
            </li>
        </ul>
    </div>
    

    <!-- form for submitting text entered -->
    <form action=" " name="chat-form" id="chat-form" method="POST">
        <input type="text" name="chat-field" placeholder="Enter your text here" required>
        <input type="submit" id="btn" value="send" for="chat-form">
    </form>

</div>

<% } %>