<!DOCTYPE html>
<html>
    <head>
        <title>
            Error
        </title>
    </head>

    <body>
        <div id="error-msg">
            <h1>
                ERROR
            </h1>
            <h3>
                Your planet can't be found
            </h3>
        </div>
    </body>
</html>