<!-- view for home page -->
    
    <h1>
        Welcome 
    </h1>

    <section id="user-friends">
        
        <% if(locals.user) { %> 
            <!-- friends list -->
            <h3>
                Friends
            </h3>
            <ul>
                
            </ul>
            <% } %>

        
        <% if(locals.user) { %> 
        <!-- other user's list -->
        <h3>
            People you may know
        </h3>
        <ul>
            <% for (u of all_users){ %> 
                <% if(locals.user.id != u.id && user.friends.id != u.id) { %>
                <li>
                     
                    <a href="/user/profile/<%= u.id %>"> 
                        <%= u.first_name %>
                        <%= u.last_name %>
                    </a>
                    
                </li> 
                <% } %>   
            <% } %> 
        </ul>
        <% } %>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js.map"></script>
    <script src="/script/socket_chat_engine.js"></script>
    
