<!-- view for login form -->
<link rel="stylesheet" type="text/css" href="/css/login.css">

<form action="/check_account/create_session" id="login-form" method="POST">
    <!-- input for email -->
    <div>
        <label for="email">E-mail</label>
        <input type="email" name="email" placeholder="eg. example@gmail.com" required>
    </div>

    <!-- input for password -->
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="***********" placeholder="Enter password" required>
    </div>
    
    <!-- submit button for login -->
    <button type="submit" form="login-form" value="login">Login</button>
    <br/>

    <!-- <div>
        Forgot Password?? <a href="/reset_password">Reset Password</a>        
    </div> -->
    <!-- login/sign-up using google -->
    <a href="/check_account/authenticate/google">Google login/Sign-up</a>

    <!-- redirecting to login page -->
    <div id="new-user">
        New User? 
        <a href="/signup/user-signup"> Sign-up</a>
    </div>
</form>