<!-- view for login form -->

<form action="/check_account/authenticate" id="login-form" method="POST">
    <!-- input for email -->
    <label for="email">E-mail</label>
    <br/>
    <input type="email" name="email" placeholder="Enter email eg. example@gmail.com">
    <br/>
    <!-- input for password -->
    <label for="password">Password</label>
    <br/>
    <input type="password" name="password" placeholder="***********" placeholder="Enter password">
    <br/>
    <!-- submit button for login -->
    <button type="submit" form="login-form" value="login">Login</button>

    <!-- redirecting to login page -->
    <div id="new-user">
        New User? 
        <a href="/signup/user-signup"> Sign-up</a>
    </div>
</form>