<!-- view for posts page -->

<!-- linking stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/posting.css">

<h1>
    Welcome <%= user %>
</h1>

<h2>
    You are viewing <%= title %> page
</h2>

<h3>
    Please like and share
</h3>