<!-- view for posts page -->

<!-- linking stylesheet -->
<!-- <link rel="stylesheet" type="text/css" href="/css/posting.css"> -->

<h1>
    Welcome 
</h1>

<h2>
    You are viewing <%= title %> page
</h2>

<section>
    <h3>
        Posts
    </h3>
    
    <form action="/posts/create_post" id="posting-form" name="posting-form" method="POST">
        <textarea name="content" cols="30" rows="5" required></textarea>
        <br/>
        <input type="submit" value="Post">
    </form>

    <!-- div for storing post of user -->
    <div id="post-list-container">
        <ul>
            <% for(post of posts){ %>

                <%- include('_post') -%>

            <% } %>
        </ul>
        
    </div>
</section>

<!-- script for ajax request for post -->
<script type="text/javascript" src="/script/postAjax.js"></script>
<!-- script for ajax request for post -->
<script type="text/javascript" src="/script/commentAjax.js"></script>
<!-- script for ajax request for addding/removing likes -->
<script type="text/javascript" src="/script/toggleLike.js"></script>
<script>
    $(`.toggle-like-btn`).each(function(){
        let self = this;
        let likeToggle = new like_toggler(self);
    });
</script>
