<!-- view for profile page -->

<!-- linking stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/profilepage.css">

    <h1>
        Welcome <%= profile_user.first_name %>
    </h1>

    <h2>
        You are viewing <%= title %> page
    </h2>
    
    <h3>
        <%= profile_user.email %>
    </h3>
