<!-- view for profile page -->

<!-- linking stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/profilepage.css">

    <h1>
        Welcome <%= user %>
    </h1>

    <h2>
        You are viewing <%= title %> page
    </h2>
   
