<!-- view for profile page -->

<!-- linking stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/profilepage.css">

    <!-- the user session will expire and the user cookie will be deleted -->
    <a href="/login/user-login">
        <button type="button" value="Sign Out">Sign Out</button>    
    </a>

    <h1>
        Welcome <%= user %>
    </h1>

    <h2>
        You are viewing <%= title %> page
    </h2>
   
    