<!-- <div style="background-color: skyblue; color: midnightblue; padding: 1rem;">
    <h3>Hi <i><%= comment.user.first_name %></i>,</h3>
    <br/>

    <p>
        Your comment <strong>"<%= comment.content %>"</strong> has been published :>)
    </p>
    <br/>

    <h4>Thanks</h4>
</div> -->