#engine-container {
  padding: 5px;
  bottom: 15%;
  right: 2%;
  min-width: 200px;
  min-height: 200px;
  border: 10px #607D8B dashed;
  background-image: linear-gradient(rosybrown, indianred);
  position: fixed;
  border-radius: 20px;
}

#engine-container #display {
  min-height: 150px;
}

#engine-container #display li {
  padding: 5px;
  font-family: fantasy;
  font-style: italic;
  margin-top: 5px;
  border-radius: 10px;
}

#engine-container #display .user-text {
  margin-right: 50px;
  background-color: #7974c0;
  border: 5px #201c5a solid;
  color: #201c5a;
}

#engine-container #display .reply-text {
  margin-left: 50px;
  background-color: #dfd687;
  border: 5px #795548 solid;
  color: #795548;
}

#engine-container form input {
  min-height: 30px;
}

#engine-container form #btn {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
  background-color: crimson;
  color: lightgreen;
  text-transform: uppercase;
  border: 3px lightgreen solid;
}

#engine-container form #btn:hover {
  background-color: darkolivegreen;
}
