/* styling profile page */
body{
    margin: 0;
    background-color: lightyellow;
    color: darkolivegreen;
    text-align: center;
}

#preview-img{
    display: none;
    max-height: 30vh;
    margin: auto;
}