<div style="background-color: lightgoldenrodyellow; color: olive; padding: 1rem;">
    <h3>Hi <i><%= post.userInfo.first_name %></i>,</h3>
    <br/>

    <p>
        Your Post <strong>"<%= post.content %>"</strong> has been published :>)
    </p>
    <br/>

    <h4>Thanks</h4>
</div>